{{t: header.fragment}}

{{t: sidebar.fragment}}

<div aria-label="Article" class="text-white ml-64 mt-4">
    <ul class="space-y-2 font-medium justify-center text-center">
        {{summary-enumerate: ./blogs/ class="text-3xl"}}
    </ul>
</div>

{{f: footer.inline}}