{{t: header.fragment}}

{{t: sidebar.fragment}}

<div aria-label="Article" class="text-white min-xl:ml-64 mt-8">
    <ul class="space-y-2 font-medium justify-center text-center">
        {{summary-enumerate: class="text-3xl hover:text-cyan-400"}}
    </ul>
</div>

{{t: footer.fragment}}